.ImageBox {
    overflow: hidden;
    position: relative;
    margin: 30px auto;
    text-align: center;
    width: 95%;
    box-sizing: border-box;
}

.List {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0px;
}

.ListEl {
    height: 40vh;
    flex-grow: 1;
    margin: 7px;
}

.Image {
    max-height: 100%;
    min-width: 100%;
    vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
    .ListEl {
        height: 30vh;
    }
}

@media (max-height: 480px) {
    .ListEl {
        height: 80vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .List {
        flex-direction: row;
    }

    .ListEl {
        height: auto;
        width: 100%;
    }

    .Image {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}

@media (max-width: 375px) {
    .Image {
        max-height: 50vh;
    }
}

.ImageBoxIcon {
    min-width: 100%;
    position: relative;
    bottom: 32px;
    animation: fadeIn 1s ease-in;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.685),
        transparent
    );
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Download {
    cursor: pointer;
}

.Icon {
    position: relative;
    font-size: 1.8rem;
    color: #ddd;
    left: 40%;
}
